:host {
  display: block;
  color: var(--foreground);
}

.tech-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  background-color: inherit;
  transition:
    transform var(--transition-duration) var(--transition-curve),
    border-color 1s var(--transition-curve),
    background-color 1s var(--transition-curve);

  img {
    color: red;
  }
}

.tech-card:hover {
  transform: translateY(-2px);
  border-color: var(--primary-color);
}

h3 {
  font-size: var(--text-base);
}

p {
  font-size: var(--text-sm);
  color: var(--muted-foreground);
}
