:host {
  font-size: var(--text-base);
  color: var(--foreground);
}

section {
  margin-bottom: calc(var(--spacing) * 10);
}

p {
  width: 100%;
  font-weight: var(--font-weight-light);
  line-height: var(--leading-relaxed);
}

h2 {
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-tight);
}

.back-btn {
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 4);
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-content__header {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 4);

  h1 {
    flex: 1;
  }
}

.badge-container {
  display: flex;
  gap: calc(var(--spacing) * 2);
  align-items: center;
  flex-wrap: wrap;
}

.badge {
  display: inline-flex;
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1);
  overflow: hidden;
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 1);
  background-color: inherit;
  border: 1px solid var(--border);
  white-space: nowrap;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
}

.source-link {
  font-size: var(--text-sm);
}

@media (min-width: 40rem) {
  :host {
    font-size: var(--text-lg);
  }
}
