:host {
  font-weight: var(--font-weight-medium);
}

nav {
  display: flex;
  width: 50vw;
  height: var(--nav-height);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2rem;
  background: color-mix(in oklab, inherit 50%, transparent);
  border: 1px solid var(--border);
  position: sticky;
  top: 1rem;
  z-index: 1000;
  backdrop-filter: blur(var(--blur-xl));
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--text-xl);
  color: var(--primary-color);
}

ul {
  display: flex;
  gap: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  transition: color var(--transition-duration) var(--transition-curve);
  /* cursor: url('/assets/link.png'), auto; */
}

a:hover {
  color: var(--primary-color);
}

.active-link {
  color: var(--primary-color);
}

.theme-toggle {
  color: var(--foreground);
  background: none;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.theme-toggle:hover {
  transform: rotate(15deg);
}

.social-links {
  display: flex;
}

.social-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.social-icon {
  fill: var(--foreground);
  width: 24px;
  height: 24px;
  /* cursor: url('/assets/link.png'), auto; */
  transition: scale var(--transition-duration) var(--transition-curve);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: var(--text-lg);
}

@media (max-width: 1280px) {
  nav {
    width: 70vw;
  }
}

@media (max-width: 768px) {
  nav {
    width: 90vw;
  }

  .hamburger {
    display: block;
    color: var(--foreground);
    transition: transform 0.3s ease;
  }

  nav.menu-open .hamburger {
    transform: rotate(90deg);
  }

  .logo {
    display: none;
  }

  .nav-links {
    display: flex;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    background: var(--background);
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--border);
    border-top: none;
    backdrop-filter: blur(var(--blur-xl));

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      transform 0.3s var(--transition-curve);
  }

  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}
