main {
  min-height: calc(100vh - var(--nav-height));
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto;
}

app-footer {
  display: block;
  padding: 1rem;
  border-top: 1px solid var(--border);
}
