:host {
  font-size: var(--text-base);
}

.ring-white {
  --ring-color: #ffffff;
}

.ring-8 {
  box-shadow: 0 0 0 8px var(--ring-color, currentColor);
}

.container-wrapper {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: calc(var(--spacing) * 10);
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 0);
}

ol {
  position: relative;
  margin-bottom: calc(var(--spacing) * 10);
  border-color: var(--border);
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
}

li {
  margin-bottom: calc(var(--spacing) * 10);
  margin-inline-start: calc(var(--spacing) * 6);
}

.icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
  background-color: var(--primary-100);
  border-radius: 999px;
  inset-inline-start: calc(var(--spacing) * -3);

  --ring-color: var(--unq-ring);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(8px + var(--tw-ring-offset-width)) var(--ring-color);
  transition: box-shadow 1s var(--transition-curve);
}

.timeline-icon {
  width: calc(var(--spacing) * 2.5);
  height: calc(var(--spacing) * 2.5);
  color: var(--primary-color);
}

.timeline-title {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 1);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);
}

.timeline-date,
.timeline-gpa {
  display: block;
  margin-bottom: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  color: var(--muted-foreground);
}

.timeline-description {
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  color: var(--muted-foreground);
}

p:not(:first-child) {
  margin-top: calc(var(--spacing) * 6);
}

p {
  width: 100%;
  font-weight: var(--font-weight-light);
  line-height: var(--leading-relaxed);
}

@media (min-width: 40rem) {
  :host {
    font-size: var(--text-lg);
  }
}
