::-webkit-scrollbar {
  /* width: 6px; */
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8d91;
}

:root {
  --primary-color: oklch(54.42% 0.209 18.57);
  --primary-900: oklch(18.82% 0.063 11.51);
  --primary-100: oklch(89.11% 0.043 3.39);
  --background: oklch(100% 0 0);
  --foreground: oklch(14.1% 0.005 285.823);
  --muted: oklch(96.7% 0.001 286.375);
  --muted-foreground: oklch(55.2% 0.016 285.938);
  --border: oklch(92.76% 0.006 264.53);

  --unq-ring: var(--background);

  --nav-height: 64px;

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-widest: 0.1em;
  --leading-tight: 1.25;
  --leading-relaxed: 1.625;
  --spacing: 0.25rem;

  --transition-duration: 0.2s;
  --transition-curve: cubic-bezier(0.23, 1, 0.32, 1);

  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f6;

  --blur-sm: 8px;
  --blur-xl: 24px;
}

.dark {
  --primary-color: #cd163d;
  --background: oklch(14.1% 0.005 285.823);
  --foreground: oklch(98.5% 0 0);
  --muted: oklch(27.4% 0.006 286.033);
  --muted-foreground: oklch(70.5% 0.015 286.067);
  --border: oklch(26.3% 0 0);
  --text-color: #fafafa;
  --tw-ring-offset-color: #fff;

  --unq-ring: oklch(18.82% 0.063 11.51);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  cursor: none;
  transition:
    background-color 0.5s var(--transition-curve),
    border-color 0.5s var(--transition-curve),
    color 0.5s var(--transition-curve),
    fill 0.5s var(--transition-curve),
    stroke 0.5s var(--transition-curve);
}

button,
a {
  touch-action: manipulation;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family:
    'Geist',
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  /* cursor: url('/assets/normal.png'), auto; */
}

h1 {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
  letter-spacing: var(--tracking-tighter);
}

h2 {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  letter-spacing: var(--tracking-tighter);
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none; /* Also removes the default underline */
}

menu,
ol,
ul {
  list-style: none;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}

@media (hover: none) {
  * {
    cursor: auto !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 105%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 115%;
  }
}
