:host {
  display: block;
  color: var(--text-color);
  font-size: var(--text-base);
}

p {
  width: 100%;
  font-weight: var(--font-weight-light);
  line-height: var(--leading-relaxed);
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  font-size: var(--text-sm);
  color: inherit;
  text-decoration: none; /* Also removes the default underline */
}

.container-wrapper {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: calc(var(--spacing) * 10);
}

.header {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

.header h2 {
  color: var(--muted-foreground);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.project-card {
  display: block;
  padding: 1rem;
  background-color: inherit;
  border: 1px solid var(--border);
  transition:
    transform var(--transition-duration) var(--transition-curve),
    border-color 1s var(--transition-curve),
    background-color 1s var(--transition-curve);
}

.project-card:hover {
  transform: translateY(-2px);
  border-color: var(--primary-color);
}

.project-card__title {
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--leading-relaxed);
}

.project-card__content p {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: var(--font-weight-normal);
  color: var(--muted-foreground);
  margin-top: calc(var(--spacing) * 2);
}

@media (min-width: 40rem) {
  :host {
    font-size: var(--text-lg);
  }
}

@media (max-width: 640px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
